.home-page {
    &__banner {
        width: 100%;
        position: relative;
        cursor: pointer;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__bannercontainer {
        min-height: 0px;
    }
}