.content {
    padding: 2%;
    max-width: 1000px;
    margin: 2rem .5rem;
    background-color: #fff;
    -webkit-box-shadow: 7px 7px 6px -4px rgba(0, 0, 0, 0.7);
    box-shadow: 7px 7px 6px -4px rgba(0, 0, 0, 0.7);
    @media (min-width: 600px) {
        width: 100%;
        margin: 2rem auto;
    }
}