.probability-report {
    overflow-y: auto;
    margin-top: 2vh;
    .rpt-prb {
        float: right;
    }
    @media screen and (max-width:500px) {
        h3 {
            font-size: 1.5rem;
        }
        h5 {
            font-size: 1.0rem;
        }
    }
}