.loading-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #000;
    z-index: -10;
    overflow: hidden;
    transition: all .5s ease-in;
    &__inner {
        position: relative;
        // left: 50%;
        top: 40%;
        text-align: center;
    }
    &__spinner {
        width: 10vh;
        height: 10vh;
    }
    &--loading {
        opacity: 0.5;
        z-index: 5000;
    }
}