.subject_tile {
    background-color: #dfdfdf;
    box-sizing: border-box;
    opacity: 1;
    margin: 2px;
    &-img {
        width: 100%;
        height: auto;
        border: 3px solid transparent;
        &__rolling {
            opacity: 0.5;
        }
        &__active {
            background-color: red;
            border-color: red;
        }
    }
}