.tile-popover {
    &__title {
        white-space: nowrap;
    }
    &__img {
        width: 33%;
        height: auto;
        float: left;
        padding: .2rem;
        margin-right: 0.5rem;
        @media screen and (min-width: 500px) {
            width: 50%;
            margin-right: 0.8rem;
        }
    }
    &__shortdesc {
        font-size: 0.8rem;
        @media screen and (min-width: 500px) {
            font-size: 0.9rem;
        }
    }
    &__probability {
        font-size: 0.8rem;
        margin-top: 1rem;
        @media screen and (min-width: 500px) {
            font-size: 1.0rem;
        }
    }
}